.main{
    width:90%;
    margin-left:10%;
    display: inline-block;
}

.card{
    width:25%;
    margin:2%;
    height:400px;
    box-shadow: 5px 10px 15px gray;
    float: left;
    padding:1%;
}

.card > img{
    height:200px;
    width:100%
}
