body{
    margin:auto
}
a{
    text-decoration:none
}
header{
    height:60px;
    width:100%;
    /* border:2px solid olive; */
    background-color:#3b2632
}

#brand{
    font-size:30px;
    color:white;
    margin-left:0.5%;
    margin-top:0.5%;
    float: left;
}
#brand a{
    color:#fff;
}
#brand a:hover{
    text-decoration: none;
}
#social{
    display: inline-block;
    margin-top: 10px;
}
#hsocial{
    display: inline-block;
    margin-top: 0.9%;
    float: right;
    margin-right: 1%;
}
.socialImg{
    height:50px;
}