.orderItems{
    float: left;
    height:330px;
    width:250px;
    margin:2%;
    box-shadow:10px 10px 15px gray
}

.orderItems > img{
    height:200px;
    width:100%;
}

.detailsBox {
    padding: 0px 10px;
}

.detailsBox h3 {
    color: #2f3ad9;
    font-size: 24px;
    font-family: cursive;
    font-weight: 600;
}
.detailsBox h4 {
    font-size: 19px;
    font-weight: 600;
    color: brown;
}